# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual env
venv/
.env/
.env.*

# IDE
.vscode/
.idea/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Test cache
.pytest_cache/
.mypy_cache/

# Coverage
htmlcov/
.coverage

# Docker
.dockerignore

# Kubernetes
charts/
*.tgz

# JetBrains
*.iml